<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizhanshi.talent.mapper.TalentApplyMapper">

    <resultMap type="com.yizhanshi.talent.domain.TalentApply" id="TalentApplyResult">
        <id     property="applyId"       column="apply_id"      />
        <result property="applyName"       column="apply_name"      />
        <result property="userStudentid"       column="user_studentid"      />
        <result property="talentStudentid"     column="talent_studentid"    />
        <result property="applyContent"     column="apply_content"    />
        <result property="applyStartDay"        column="apply_start_day"        />
        <result property="applyEndDay"        column="apply_end_day"        />
        <result property="recallReason"     column="recall_reason"    />
        <result property="refuseReason"     column="refuse_reason"    />
        <result property="recallStatus"     column="recall_status"    />
        <result property="commentId"     column="comment_id"    />
        <result property="status"     column="status"    />
        <result property="delFlag"     column="del_flag"    />
        <result property="createTime"     column="create_time"    />
        <result property="createBy"     column="create_by"    />
        <result property="updateTime"     column="update_time"    />
        <result property="updateBy"     column="update_by"    />
        <result property="remark"     column="remark"    />
        <collection  property="talent"   javaType="com.yizhanshi.system.api.domain.SysUser"  resultMap="TalentResult" />
    </resultMap>
    <resultMap id="TalentResult" type="com.yizhanshi.system.api.domain.SysUser">
        <id     property="userId"       column="user_id"      />
        <result property="userStudentid"     column="user_studentid"    />
        <result property="userSex"     column="user_sex"    />
        <result property="userName"     column="user_name"    />
        <result property="userOrganization"     column="user_organization"    />
        <result property="userCampus"     column="user_campus"    />
        <result property="userEmail"        column="user_email"        />
        <result property="userPhone"  column="user_phone"  />
        <result property="userQq"        column="user_qq"        />
        <result property="userWechat"  column="user_wechat"  />
        <result property="userScore"          column="user_score"          />
        <result property="userDescription"       column="user_description"       />
        <result property="userPicture1"     column="user_picture1"     />
        <result property="userPicture2"     column="user_picture2"     />
        <result property="userPicture3"     column="user_picture3"     />
    </resultMap>
  
    <sql id="selectTalentApplyVo">
        select ta.apply_id, ta.apply_name, ta.user_studentid,ta.talent_studentid,ta.apply_content,ta.apply_start_day,ta.apply_end_day,
        ta.refuse_reason,ta.recall_status,ta.recall_status,ta.comment_id, ta.status, ta.del_flag,ta.create_by, ta.create_time, ta.remark,
        u.user_id, u.user_studentid,u.user_sex,u.user_name, u.user_organization,u.user_campus,
        u.user_email,  u.user_phone,u.user_qq,u.user_wechat,u.user_score,u.user_description,u.user_picture1, u.user_picture2,u.user_picture3
        from business_talent_apply ta
        left join system_user u on ta.talent_studentid=u.user_studentid
    </sql>
    <select id="selectTalentApplyList" parameterType="com.yizhanshi.talent.domain.TalentApply" resultMap="TalentApplyResult">
        <include refid="selectTalentApplyVo"></include>
        where ta.del_flag = '0'
        <if test="applyId != null and applyId != 0">
            AND ta.apply_id = #{applyId}
        </if>
        <if test="applyName != null and applyName != ''">
            AND ta.apply_name = #{applyName}
        </if>
        <if test="userStudentid != null and userStudentid != ''">
            AND ta.user_studentid like concat('%', #{userStudentid}, '%')
        </if>
        <if test="talentStudentid != null and talentStudentid != ''">
            AND ta.talent_studentid like concat('%', #{talentStudentid}, '%')
        </if>
        <if test="talent!=null and talent.userName != null and talent.userName != ''">
            AND u.user_name like concat('%', #{talent.userName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND ta.status = #{status}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(ta.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(ta.create_time,'%Y%m%d')  &lt;= date_format(#{params.endTime},'%Y%m%d')
        </if>
    </select>
    <select id="selectTalentApplyById" parameterType="Long" resultMap="TalentApplyResult">
        <include refid="selectTalentApplyVo"></include>
        where ta.apply_id = #{applyId}
    </select>


    <update id="updateTalentApply" parameterType="com.yizhanshi.talent.domain.TalentApply">
        update business_talent_apply
        <set>
            <if test="applyName != null and applyName != ''">apply_name=#{applyName},</if>
            <if test="userStudentid != null and userStudentid != ''">user_studentid=#{userStudentid},</if>
            <if test="talentStudentid != null and talentStudentid != ''">talent_studentid=#{talentStudentid},</if>
            <if test="applyContent != null and applyContent != ''">apply_content=#{applyContent},</if>
            <if test="applyStartDay != null">apply_start_day=#{applyStartDay,jdbcType=DATE},</if>
            <if test="applyEndDay != null">apply_end_day=#{applyEndDay,jdbcType=DATE},</if>
            <if test="refuseReason != null and refuseReason != ''">refuse_reason=#{refuseReason},</if>
            <if test="recallReason != null and recallReason != ''">recall_reason=#{recallReason},</if>
            <if test="recallStatus != null and recallStatus != ''">recall_status=#{recallStatus},</if>
            <if test="commentId != null and commentId != 0">comment_id=#{commentId},</if>
            <if test="status != null and status != ''">status=#{status},</if>
            <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
            <if test="remark != null and remark != ''">remark=#{remark},</if>
            update_time = sysdate()
        </set>
        where apply_id = #{applyId}
    </update>
    <delete id="deleteTalentApply" >
        update business_talent_apply set del_flag = '2' where apply_id in
        <foreach collection="array" item="applyId" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>
    <delete id="deleteCommentIdsByIds" >
        UPDATE business_talent_apply SET comment_id = NULL
        where comment_id in
        <foreach collection="array" item="commentId" open="(" separator="," close=")">
            #{commentId}
        </foreach>
    </delete>
    <insert id="insertTalentApply" parameterType="com.yizhanshi.talent.domain.TalentApply" useGeneratedKeys="true" keyProperty="applyId">
        insert into business_talent_apply(
        <if test="applyName != null and applyName != ''">apply_name,</if>
        <if test="userStudentid != null and userStudentid != ''">user_studentid,</if>
        <if test="talentStudentid != null and talentStudentid != ''">talent_studentid,</if>
        <if test="applyContent != null and applyContent != ''">apply_content,</if>
        <if test="applyStartDay != null">apply_start_day,</if>
        <if test="applyEndDay != null">apply_end_day,</if>
        <if test="refuseReason != null and refuseReason != ''">refuse_reason,</if>
        <if test="recallStatus != null and recallStatus != ''">recall_status,</if>
        <if test="recallReason != null and recallReason != ''">recall_reason,</if>
        <if test="commentId != null and commentId != 0">comment_id,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="applyName != null and applyName != ''">#{applyName},</if>
        <if test="userStudentid != null and userStudentid != ''">#{userStudentid},</if>
        <if test="talentStudentid != null and talentStudentid != ''">#{talentStudentid},</if>
        <if test="applyContent != null and applyContent != ''">#{applyContent},</if>
        <if test="applyStartDay != null">#{applyStartDay,jdbcType=DATE},</if>
        <if test="applyEndDay != null">#{applyEndDay,jdbcType=DATE},</if>
        <if test="refuseReason != null and refuseReason != ''">#{refuseReason},</if>
        <if test="recallStatus != null and recallStatus != ''">#{recallStatus},</if>
        <if test="recallReason != null and recallReason != ''">#{recallReason},</if>
        <if test="commentId != null and commentId != 0">#{commentId},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>


    <select id="selectNumberByApply" parameterType="String" resultType="Int">
        select COUNT(apply_id)
        from business_talent_apply
        where talent_studentid=#{talentStudentid} and del_flag='0' and status in ('2')
    </select>
    <select id="selectAllCommentIdsByApplyIds" parameterType="Long" resultType="Long">
        select comment_id
        from business_talent_apply
        where del_flag='0' and  comment_id IS NOT NULL and apply_id in
        <foreach collection="array" item="applyId" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </select>




</mapper>