<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizhanshi.system.mapper.SysRoleResourceMapper">

	<resultMap type="com.yizhanshi.system.domain.SysRoleResource" id="SysRoleResourceResult">
		<result property="roleId"     column="role_id"      />
		<result property="resourceId"     column="resource_id"      />
	</resultMap>
	
	<select id="checkResourceExistRole" resultType="Integer">
	    select count(1) from system_role_resource where resource_id = #{resourceId}
	</select>

	<delete id="deleteRoleResourceByRoleId" parameterType="Long">
		delete from system_role_resource where role_id=#{roleId}
	</delete>
	
	<delete id="deleteRoleResource" >
 		delete from system_role_resource where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
	
	<insert id="batchRoleResource">
		insert into system_role_resource(role_id, resource_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.resourceId})
		</foreach>
	</insert>
	
</mapper> 