<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizhanshi.system.mapper.SysUserMapper">

	<resultMap type="com.yizhanshi.system.api.domain.SysUser" id="SysUserResult">
		<id     property="userId"       column="user_id"      />
		<result property="userStudentid"     column="user_studentid"    />
		<result property="userSex"     column="user_sex"    />
		<result property="deptId"     column="dept_id"    />
		<result property="userPassword"       column="user_password"      />
		<result property="userName"     column="user_name"    />
		<result property="userType"     column="user_type"    />
		<result property="userOrganization"     column="user_organization"    />
		<result property="userCampus"     column="user_campus"    />
		<result property="userEmail"        column="user_email"        />
		<result property="userPhone"  column="user_phone"  />
		<result property="userQq"        column="user_qq"        />
		<result property="userWechat"  column="user_wechat"  />
		<result property="userScore"          column="user_score"          />
		<result property="userDescription"       column="user_description"       />
		<result property="userPicture1"     column="user_picture1"     />
		<result property="userPicture2"     column="user_picture2"     />
		<result property="userPicture3"     column="user_picture3"     />
		<result property="status"       column="status"       />
		<result property="delFlag"      column="del_flag"     />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		<collection  property="roles"   javaType="java.util.List"  resultMap="RoleResult" />
	</resultMap>
	
    <resultMap id="deptResult" type="com.yizhanshi.system.api.domain.SysDept">
        <id     property="deptId"    column="dept_id"     />
        <result property="parentId"  column="parent_id"   />
        <result property="deptName"  column="dept_name"   />
        <result property="ancestors" column="ancestors"   />
        <result property="orderNum"  column="order_num"   />
        <result property="leader"    column="leader"      />
        <result property="status"    column="dept_status" />
    </resultMap>
	
    <resultMap id="RoleResult" type="com.yizhanshi.system.api.domain.SysRole">
        <id     property="roleId"       column="role_id"        />
        <result property="roleName"     column="role_name"      />
        <result property="roleKey"      column="role_key"       />
        <result property="roleSort"     column="role_sort"      />
        <result property="dataScope"    column="data_scope"     />
        <result property="status"       column="role_status"    />
    </resultMap>
	
	<sql id="selectUserVo">
		select u.user_id, u.user_studentid,u.user_sex, u.user_password,  u.user_name, u.user_type,
		u.user_organization,u.user_campus,u.user_email,  u.user_phone,u.user_qq,u.user_wechat,u.user_score,u.user_description,u.user_picture1,
		u.user_picture2,u.user_picture3, u.status, u.del_flag, u.create_by, u.create_time, u.remark,
        d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.status as dept_status,
        r.role_id, r.role_name, r.role_key, r.role_sort, r.data_scope, r.status as role_status
        from system_user u
		    left join system_dept d on u.dept_id = d.dept_id
		    left join system_user_role ur on u.user_id = ur.user_id
		    left join system_role r on r.role_id = ur.role_id
    </sql>
    
    <select id="selectUserList" parameterType="com.yizhanshi.system.api.domain.SysUser" resultMap="SysUserResult">
		select u.user_id, u.user_studentid,u.user_sex, u.user_name, u.user_type,
		u.user_organization,u.user_campus,u.user_email,  u.user_phone,u.user_qq,u.user_wechat,u.user_score,u.user_description,u.user_picture1,
		u.user_picture2,u.user_picture3, u.status,  u.create_by, u.create_time, u.remark,
		d.dept_name, d.leader from system_user u
		left join system_dept d on u.dept_id = d.dept_id
		where u.del_flag = '0'
		<if test="userId != null and userId != 0">
			AND u.user_id = #{userId}
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="status != null and status != ''">
			AND u.status = #{status}
		</if>
		<if test="userPhone != null and userPhone != ''">
			AND u.user_phone like concat('%', #{userPhone}, '%')
		</if>
		<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(u.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(u.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
		</if>
		<if test="deptId != null and deptId != 0">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM system_dept t WHERE find_in_set(#{deptId}, ancestors) ))
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectAllocatedList" parameterType="com.yizhanshi.system.api.domain.SysUser" resultMap="SysUserResult">
	    select distinct u.user_id, u.user_studentid,u.user_sex, u.user_name, u.user_type,
		u.user_organization,u.user_campus,u.user_email, u.user_phone,u.user_qq,u.user_wechat,u.user_score,u.user_description,u.user_picture1,
		u.user_picture2,u.user_picture3, u.status, u.create_by, u.create_time, u.remark
	    from system_user u
			 left join system_dept d on u.dept_id = d.dept_id
			 left join system_user_role ur on u.user_id = ur.user_id
			 left join system_role r on r.role_id = ur.role_id
	    where u.del_flag = '0' and r.role_id = #{roleId}
	    <if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="userPhone != null and userPhone != ''">
			AND u.user_phone like concat('%', #{userPhone}, '%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>

	<select id="selectUnallocatedList" parameterType="com.yizhanshi.system.api.domain.SysUser" resultMap="SysUserResult">
		select distinct u.user_id, u.user_studentid,u.user_sex, u.user_name, u.user_type,
		u.user_organization,u.user_campus,u.user_email, u.user_phone,u.user_qq,u.user_wechat,u.user_score,u.user_description,u.user_picture1,
		u.user_picture2,u.user_picture3, u.status, u.create_by, u.create_time, u.remark
	    from system_user u
			 left join system_dept d on u.dept_id = d.dept_id
			 left join system_user_role ur on u.user_id = ur.user_id
			 left join system_role r on r.role_id = ur.role_id
	    where u.del_flag = '0' and (r.role_id != #{roleId} or r.role_id IS NULL)
	    and u.user_id not in (select u.user_id from system_user u inner join system_user_role ur on u.user_id = ur.user_id and ur.role_id = #{roleId})
	    <if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="userPhone != null and userPhone != ''">
			AND u.user_phone like concat('%', #{userPhone}, '%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectUserByUserName" parameterType="String" resultMap="SysUserResult">
	    <include refid="selectUserVo"/>
		where u.user_name = #{userName} and u.del_flag = '0'
	</select>
	<select id="selectUserByUserStudentid" parameterType="String" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.user_studentid = #{userStudentid} and u.del_flag = '0'
	</select>
	
	<select id="selectUserById" parameterType="Long" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.user_id = #{userId}
	</select>
	
	<select id="checkUserNameUnique" parameterType="String" resultMap="SysUserResult">
		select user_id, user_name from system_user where user_name = #{userName} and del_flag = '0' limit 1
	</select>
	<select id="checkUserStudentidUnique" parameterType="String" resultMap="SysUserResult">
		select user_id, user_name from system_user where user_studentid = #{userStudentid} and del_flag = '0' limit 1
	</select>
	<select id="checkPhoneUnique" parameterType="String" resultMap="SysUserResult">
		select user_id, user_phone from system_user where user_phone = #{userPhone} and del_flag = '0' limit 1
	</select>
	
	<select id="checkEmailUnique" parameterType="String" resultMap="SysUserResult">
		select user_id, user_email from system_user where user_email = #{userEmail} and del_flag = '0' limit 1
	</select>
	
	<insert id="insertUser" parameterType="com.yizhanshi.system.api.domain.SysUser" useGeneratedKeys="true" keyProperty="userId">
 		insert into system_user(
 			<if test="userId != null and userId != 0">user_id,</if>
		<if test="userStudentid != null and userStudentid != ''">user_studentid,</if>
		<if test="userSex != null and userSex != ''">user_sex,</if>
		<if test="userPassword != null and userPassword != ''">user_password,</if>
 			<if test="deptId != null and deptId != 0">dept_id,</if>
 			<if test="userName != null and userName != ''">user_name,</if>
 			<if test="userOrganization != null and userOrganization != ''">user_organization,</if>
		<if test="userCampus != null and userCampus != ''">user_campus,</if>
		<if test="userType != null and userType != ''">user_type,</if>
		<if test="userScore != null and userScore != 0">user_score,</if>
 			<if test="userEmail != null and userEmail != ''">user_email,</if>
 			<if test="userPhone != null and userPhone != ''">user_phone,</if>
		<if test="userQq != null and userQq != ''">user_qq,</if>
		<if test="userWechat != null and userWechat != ''">user_wechat,</if>
 			<if test="status != null and status != ''">status,</if>
 			<if test="createBy != null and createBy != ''">create_by,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			create_time
 		)values(
 			<if test="userId != null and userId != 0">#{userId},</if>
		<if test="userStudentid != null and userStudentid != ''">#{userStudentid},</if>
		<if test="userSex != null and userSex != ''">#{userSex},</if>
		<if test="userPassword != null and userPassword != ''">#{userPassword},</if>
		<if test="deptId != null and deptId != 0">#{deptId},</if>
		<if test="userName != null and userName != ''">#{userName},</if>
		<if test="userOrganization != null and userOrganization != ''">#{userOrganization},</if>
		<if test="userCampus != null and userCampus != ''">#{userCampus},</if>
		<if test="userType != null and userType != ''">#{userType},</if>
		<if test="userScore != null and userScore != 0">#{userScore},</if>
		<if test="userEmail != null and userEmail != ''">#{userEmail},</if>
		<if test="userPhone != null and userPhone != ''">#{userPhone},</if>
		<if test="userQq != null and userQq != ''">#{userQq},</if>
		<if test="userWechat != null and userWechat != ''">#{userWechat},</if>
		<if test="status != null and status != ''">#{status},</if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="remark != null and remark != ''">#{remark},</if>
 			sysdate()
 		)
	</insert>
	
	<update id="updateUser" parameterType="com.yizhanshi.system.api.domain.SysUser">
 		update system_user
 		<set>
			<if test="userStudentid != null and userStudentid != ''">user_studentid=#{userStudentid},</if>
			<if test="userSex != null and userSex != ''">user_sex=#{userSex},</if>
			<if test="userPassword != null and userPassword != ''">user_password=#{userPassword},</if>
			<if test="deptId != null and deptId != 0">dept_id=#{deptId},</if>
			<if test="userName != null and userName != ''">user_name=#{userName},</if>
			<if test="userOrganization != null and userOrganization != ''">user_organization=#{userOrganization},</if>
			<if test="userCampus != null and userCampus != ''">user_campus=#{userCampus},</if>
			<if test="userType != null and userType != ''">user_type=#{userType},</if>
			<if test="userScore != null and userScore != 0">user_score=#{userScore},</if>
			<if test="userEmail != null and userEmail != ''">user_email=#{userEmail},</if>
			<if test="userPhone != null and userPhone != ''">user_phone=#{userPhone},</if>
			<if test="userQq != null and userQq != ''">user_qq=#{userQq},</if>
			<if test="userWechat != null and userWechat != ''">user_wechat=#{userWechat},</if>
			<if test="userDescription != null and userDescription != ''">user_description=#{userDescription},</if>
			<if test="userPicture1 != null and userPicture1 != ''">user_picture1=#{userPicture1},</if>
			<if test="userPicture2 != null and userPicture2 != ''">user_picture2=#{userPicture2},</if>
			<if test="userPicture3 != null and userPicture3 != ''">user_picture3=#{userPicture3},</if>
			<if test="status != null and status != ''">status=#{status},</if>
 			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
 			<if test="remark != null">remark = #{remark},</if>
 			update_time = sysdate()
 		</set>
 		where user_id = #{userId}
	</update>
	
	<update id="updateUserStatus" parameterType="com.yizhanshi.system.api.domain.SysUser">
 		update system_user set status = #{status} where user_id = #{userId}
	</update>
	

	<update id="resetUserPwd" parameterType="com.yizhanshi.system.api.domain.SysUser">
 		update system_user set password = #{password} where user_name = #{userName}
	</update>
	
	<delete id="deleteUserById" parameterType="Long">
 		update system_user set del_flag = '2' where user_id = #{userId}
 	</delete>
 	
 	<delete id="deleteUserByIds" parameterType="Long">
 		update system_user set del_flag = '2' where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
	<update id="updateUserScore" >
		update system_user set user_score = #{number} where user_studentid = #{userStudentid}
	</update>
</mapper> 