<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizhanshi.course.mapper.CourseApplyMapper">

    <resultMap type="com.yizhanshi.course.domain.CourseApply" id="CourseApplyResult">
        <id     property="applyId"       column="apply_id"      />
        <result property="applyName"       column="apply_name"      />
        <result property="userStudentid"       column="user_studentid"      />
        <result property="courseId"     column="course_id"    />
        <result property="applyContent"     column="apply_content"    />
        <result property="applyAdmin1"        column="apply_admin1"        />
        <result property="applyAdmin1Name"        column="apply_admin1_name"        />
        <result property="applyAdmin2"        column="apply_admin2"        />
        <result property="applyAdmin2Name"        column="apply_admin2_name"        />
        <result property="refuseReason"        column="refuse_reason"        />
        <result property="recallStatus"        column="recall_status"        />
        <result property="recallReason"        column="recall_reason"        />
        <result property="status"     column="status"    />
        <result property="delFlag"     column="del_flag"    />
        <result property="createTime"     column="create_time"    />
        <result property="createBy"     column="create_by"    />
        <result property="updateTime"     column="update_time"    />
        <result property="updateBy"     column="update_by"    />
        <result property="remark"     column="remark"    />
        <collection  property="course"   javaType="com.yizhanshi.course.api.domain.Course"  resultMap="CourseResult" />
    </resultMap>
    <resultMap id="CourseResult" type="com.yizhanshi.course.api.domain.Course">
        <id     property="courseId"       column="course_id"        />
        <result property="courseName"     column="course_name"      />
        <result property="courseType"      column="course_type"      />
        <result property="teacherId"      column="teacher_id"      />
        <result property="courseCheck"      column="course_check"      />
        <result property="courseNumber"      column="course_number"      />
        <collection  property="teacher"   javaType="com.yizhanshi.course.api.domain.Teacher"  resultMap="TeacherResult" />
    </resultMap>
    <resultMap type="com.yizhanshi.course.api.domain.Teacher" id="TeacherResult">
        <id     property="teacherId"       column="teacher_id"      />
        <result property="teacherName"     column="teacher_name"    />
        <result property="teacherSex"     column="teacher_sex"    />
        <result property="teacherAge"     column="teacher_age"    />
        <result property="teacherStudentid"       column="teacher_studentid"      />
        <result property="teacherDescription"     column="teacher_description"    />
        <result property="teacherPicture"     column="teacher_picture"    />
        <result property="teacherEmail"     column="teacher_email"    />
        <result property="teacherPhone"     column="teacher_phone"    />
        <result property="teacherQq"     column="teacher_qq"    />
        <result property="teacherWechat"     column="teacher_wechat"    />
    </resultMap>
    <sql id="selectCourseApplyVo">
        select ca.apply_id, ca.apply_name, ca.user_studentid,ca.course_id,ca.apply_content,ca.apply_admin1,ca.apply_admin1_name,ca.apply_admin2,ca.apply_admin2_name,
        ca.refuse_reason,ca.recall_status,ca.recall_reason, ca.status, ca.del_flag,ca.create_by, ca.create_time, ca.update_by, ca.update_time,ca.remark,
        c.course_id,c.course_name,c.course_type,c.teacher_id,c.course_check,c.course_number,
        t.teacher_id, t.teacher_name, t.teacher_sex,t.teacher_age,t.teacher_studentid,t.teacher_description,
        t.teacher_picture,t.teacher_email,t.teacher_phone,t.teacher_qq,t.teacher_wechat
        from business_course_apply ca
        left join business_course c on ca.course_id=c.course_id
        left join business_teacher t on t.teacher_id = c.teacher_id
    </sql>
    <select id="selectCourseApplyList" parameterType="com.yizhanshi.course.domain.CourseApply" resultMap="CourseApplyResult">
       <include refid="selectCourseApplyVo"></include>
        where ca.del_flag = '0'
        <if test="applyId != null and applyId != 0">
            AND ca.apply_id = #{applyId}
        </if>
        <if test="applyName != null and applyName != ''">
            AND ca.apply_name = #{applyName}
        </if>
        <if test="userStudentid != null and userStudentid != ''">
            AND ca.user_studentid like concat('%', #{userStudentid}, '%')
        </if>
        <if test="course!=null and course.courseName != null and course.courseName != ''">
            AND c.course_name like concat('%', #{course.courseName}, '%')
        </if>
        <if test="course!=null and course.courseType != null and course.courseType != ''">
            AND c.course_type like concat('%', #{course.courseType}, '%')
        </if>
        <if test="status != null and status !=''.toString()">
        <choose>
            <!-- 如果传入的status是0，查询status为0或1的数据 -->
            <when test="status == '0'.toString() ">
                AND ca.status IN ('0', '1')
            </when>
            <when test="status == '1'.toString()">
                AND ca.status IN ('0', '1')
            </when>
            <!-- 如果传入的status是2、3、4，直接使用等于条件 -->
            <when test="status == '2'.toString() or status == '5'.toString() or status == '4'.toString()">
                AND ca.status = #{status}
            </when>
            <!-- 其他情况，可以选择不添加任何条件，或者根据需要添加默认行为 -->
            <otherwise>
                AND ca.status = #{status}
                <!-- 这里可以留空，或者添加你认为合适的默认SQL条件 -->
            </otherwise>
        </choose>
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(ca.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(ca.create_time,'%Y%m%d')  &lt;= date_format(#{params.endTime},'%Y%m%d')
        </if>
    </select>
    <select id="selectCourseApplyById" parameterType="Long" resultMap="CourseApplyResult">
        <include refid="selectCourseApplyVo"></include>
        where ca.apply_id = #{applyId}
    </select>


    <update id="updateCourseApply" parameterType="com.yizhanshi.course.domain.CourseApply">
    update business_course_apply
    <set>
        <if test="applyName != null and applyName != ''">apply_name=#{applyName},</if>
        <if test="userStudentid != null and userStudentid != ''">user_studentid=#{userStudentid},</if>
        <if test="courseId != null and courseId != 0">course_id=#{courseId},</if>
        <if test="applyContent != null and applyContent != ''">apply_content=#{applyContent},</if>
        <if test="applyAdmin1 != null and applyAdmin1 != ''">apply_admin1=#{applyAdmin1},</if>
        <if test="applyAdmin1Name != null and applyAdmin1Name != ''">apply_admin1_name=#{applyAdmin1Name},</if>
        <if test="applyAdmin2 != null and applyAdmin2 != ''">apply_admin2=#{applyAdmin2},</if>
        <if test="applyAdmin2Name != null and applyAdmin2Name != ''">apply_admin2_name=#{applyAdmin2Name},</if>
        <if test="refuseReason != null and refuseReason != ''">refuse_reason=#{refuseReason},</if>
        <if test="recallStatus != null and recallStatus != ''">recall_status=#{recallStatus},</if>
        <if test="recallReason != null and recallReason != ''">recall_reason=#{recallReason},</if>
        <if test="status != null and status != ''">status=#{status},</if>
        <if test="updateBy != null and updateBy != ''">update_by=#{updateBy},</if>
        <if test="remark != null and remark != ''">remark=#{remark},</if>
        update_time = sysdate()
    </set>
        where apply_id = #{applyId}
    </update>
    <delete id="deleteCourseApply">
        update business_course_apply set del_flag = '2' where apply_id in
        <foreach collection="array" item="applyId" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>
    <insert id="insertCourseApply" parameterType="com.yizhanshi.course.domain.CourseApply" useGeneratedKeys="true" keyProperty="applyId">
        insert into business_course_apply(
        <if test="applyName != null and applyName != ''">apply_name,</if>
        <if test="userStudentid != null and userStudentid != ''">user_studentid,</if>
        <if test="courseId != null and courseId != 0">course_id,</if>
        <if test="applyContent != null and applyContent != ''">apply_content,</if>
        <if test="applyAdmin1 != null and applyAdmin1 != ''">apply_admin1,</if>
        <if test="applyAdmin1Name != null and applyAdmin1Name != ''">apply_admin1_name,</if>
        <if test="applyAdmin2 != null and applyAdmin2 != ''">apply_admin2,</if>
        <if test="applyAdmin2Name != null and applyAdmin2Name != ''">apply_admin2_name,</if>
        <if test="refuseReason != null and refuseReason != ''">refuse_reason,</if>
        <if test="recallStatus != null and recallStatus != ''">recall_status,</if>
        <if test="recallReason != null and recallReason != ''">recall_reason,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
            create_time
        )values(
        <if test="applyName != null and applyName != ''">#{applyName},</if>
        <if test="userStudentid != null and userStudentid != ''">#{userStudentid},</if>
        <if test="courseId != null and courseId != 0">#{courseId},</if>
        <if test="applyContent != null and applyContent != ''">#{applyContent},</if>
        <if test="applyAdmin1 != null and applyAdmin1 != ''">#{applyAdmin1},</if>
        <if test="applyAdmin2 != null and applyAdmin2 != ''">#{applyAdmin2},</if>
        <if test="refuseReason != null and refuseReason != ''">#{refuseReason},</if>
        <if test="recallStatus != null and recallStatus != ''">#{recallStatus},</if>
        <if test="recallReason != null and recallReason != ''">#{recallReason},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <select id="selectByCourseIds"  resultMap="CourseApplyResult">
        <include refid="selectCourseApplyVo"/>
        where ca.del_flag='0' and ca.course_id  in
        <foreach collection="array" item="courseId" open="(" separator="," close=")">
        #{courseId}
        </foreach>

    </select>

    <select id="selectNumberByCourse" parameterType="Long" resultType="Int">
        select COUNT(apply_id)
        from business_course_apply
        where course_id=#{courseId} and del_flag='0' and status in ('0','1','2')
    </select>
    <select id="selectByUserIdAndCourseId" resultType="int">
        select  count(*) from business_course_apply
        where
        user_studentid=#{userStudentid} and course_id=#{courseId} and del_flag='0'  and status in ('0','1','2')
    </select>



</mapper>